body {
    max-width: 1400px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

p {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

button {
    font-size: 24px;
    font-weight: 700;
    color: black;
    background-color: aqua;
    padding: 15px;
    border-radius: 8px;
}

.pict_block {
    text-align: center;
}

img {
    width: 700px;
    height: 525px;
    padding: 15px;
    object-fit: contain;
}